@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";


$primary-bg: #232931;
$secondary-bg: #393e46;
$primary-text: #eeeeee;
$secondary-text: #4ecca3;


html {
	background-color: $primary-bg;
	color: $primary-text;
	font-family: 'Roboto Mono';
}

.heading {
	font-family: 'Roboto Slab';
}

.sub-heading {
	font-family: 'Roboto';
}

.text {
	font-family: 'Roboto Mono';
}

.text-primary {
	color: $primary-text;
}

.text-secondary {
	color: $secondary-text;
}

.bg-primary {
	background-color: $primary-bg;
}

.bg-secondary {
	background-color: $secondary-bg;
}