@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Andika&family=Cabin:ital,wght@0,400;0,600;1,400;1,600&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');

$primary-bg: #232931;
$secondary-bg: #393e46;
$primary-text: #eeeeee;
$secondary-text: #4ecca3;


html {
	background-color: $primary-bg;
	color: $primary-text;
	font-family: 'Andrika';
}

.heading {
	font-family: 'Roboto';
}

.sub-heading {
	font-family: 'Cabin';
}

.text {
	font-family: 'Andika';
}

.text-primary {
	color: $primary-text;
}

.text-secondary {
	color: $secondary-text;
}

.bg-primary {
	background-color: $primary-bg;
}

.bg-secondary {
	background-color: $secondary-bg;
}